
/* Toolbar area */

md-toolbar {
  h2 {
    letter-spacing: 1px;
    margin: 0px;
  }

  h3 {
    margin: auto;
    font-weight: 600;
    letter-spacing: 1px;
  }

  .md-button {
    min-width: 44px;
  }

  .menu {
    background-color: transparent;
    border: none;
    height: 44px;
    width: 36px;
    
    position: absolute;
    left: 16px;
  }
}
