
/* Primary content area */


#content  {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  
  h2 {
    font-weight: 600;
    font-size: 2em;
    letter-spacing: 2px;
    line-height: 1.4em;
  }

  h4 {
    font-weight: 500;
  }

  .md-button.repo {
    background-color: transparent;
    border: none;
    width: 48px;
    height: 48px;
    margin: 8px auto 16px 0;
    position: absolute;
    top: 10px;
    right: 40px;
  }
  
  md-icon.avatar {
    margin-top: 10px;
  }

  .md-button.repo > md-icon {
    fill:black;
    width:36px;
    height:36px;
  }

  .md-button.repo:active > md-icon {
    background-color: #dadada;
    border-radius: 75%;
    padding:4px;
    transition: all 100ms ease-out 30ms;
  }
}