listView{

	md-list-item {
		overflow: hidden;

		.md-3-line .md-list-item-text {
		  h3 {
		    font-weight: bold;
		    letter-spacing: 1px;
		  }
		  
		  h4 {
		    font-weight: 500;
		    font-size: 12px;
		  }
		  
		  p {
		    font-weight: 300;
		  }
		}
	}
}