<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Github Browser</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' type='text/css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="assets/angular-material.min.css"/>
    
    <link rel="stylesheet" href="app.css">
    
    <link rel="icon" type="image/x-icon" href="https://assets-cdn.github.com/favicon.ico">

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

  </head>

  <body ng-app="githubBrowser" layout="row" ng-controller="RepoController as ctrl" ng-cloak >

  <!-- SIDENAV :: Master Pane -->
    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
      md-component-id="left" aria-label="Master Item List"
      md-is-locked-open="$mdMedia('gt-sm')">

      <md-toolbar class="md-whiteframe-z1">
        <h3>{{ ctrl.selected.orgName }}</h3>
      </md-toolbar>
      
      <form name="searchForm" role='form' ng-submit="ctrl.selectOrg(ctrl.searchText)">
        <md-input-container class="md-float md-block">
          <input placeholder="Organization" required name="organization" ng-model="ctrl.searchText" type="text">
        </md-input-container>
      </form>

      <list-view title='"Public Repos"' list='ctrl.repos'> 
        <md-list-item class="md-3-line md-long-text" ng-repeat="item in ctrl.repos" ng-click="ctrl.selectRepo(item)" ng-class="{'selected' : item === ctrl.selected.repo }">
      <!-- <list-view title='"Public Repos"' list='ctrl.repos' on-item-click='ctrl.selectRepo' selected-item='ctrl.selected.repo'>  -->
        
        <!-- <md-list-item class="md-3-line md-long-text" ng-repeat="item in $ctrl.list" ng-click="$ctrl.onItemClick({ item: item })" ng-class="{'selected' : item === ctrl.selected.repo }"> -->
        
          <div class="md-list-item-text" layout="column">
            <h2>{{ item.name }}</h2>
            <h4>Forks: <em> {{ item.forks_count}} </em></h4>
            <p>{{ item.description }}</p>
          </div>
        </md-list-item>
      </list-view> 
      
    </md-sidenav>
    
    <!-- FLEXBOX :: Detail Pane -->
    <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2" aria-label="Item Detail Content">

      <section class='md-whiteframe-z1'>
        <md-toolbar layout="row" layout-align='center center' class="md-hue-2">
          <md-button id="main" class="menu" hide-gt-sm ng-click="ctrl.toggleList()" aria-label="Show Master List">
            <md-icon md-svg-icon="menu" ></md-icon>
          </md-button>
          <h2>Github Browser</h2>
        </md-toolbar>
      </section>  

      <md-content flex id="content">
          <h2>{{ctrl.selected.repo.name}}</h2>
          <h4>{{ ctrl.selected.repo.owner.login  | capitalize:true}}</h4>
          <p>{{ctrl.selected.repo.description}}</p>
          
          <section class='md-whiteframe-z1'>

            <list-view list='ctrl.commits' title='"Commits"'> 
              <md-list-item class="md-3-line md-long-text" layout='row' ng-repeat="item in ctrl.commits">
                  <img ng-src="{{item.committer.avatar_url}}" class="md-avatar" alt="{{item.commit.author.name}}" />
                  <div class="md-list-item-text" layout="column">
                    <h3>{{ item.commit.author.name }}</h3>
                    <h4>{{ item.commit.author.date | date:'medium'}}</h4>
                    <p>{{ item.commit.message }}</p>
                  </div>
              </md-list-item>
            </list-view> 
    
          </section>
        </md-content>
    </div>

    <script src="bundle.js"></script>

  </body>
</html>